html {
  height: 100%;
  overflow: hidden;
}

body {
  font: 1.15em/1.3em "myriad-pro", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  min-width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  -o-perspective: 1px;
  -ms-perspective: 1px;
  -moz-perspective: 1px;
  -webkit-perspective: 1px;
  perspective: 1px;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

h2 {
  font: 3.75em "tangerine", Helvetica, Arial, sans-serif;
  margin: 5px 0 -10px 0;
}

a {
  color: #555;
  font: 1.2em "proxima-nova", Helvetica, Arial, sans-serif;
  position: relative;
  text-decoration: none;
}
a:hover {
  color: #222;
  text-decoration: underline;
}

button {
  background-color: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  padding: 6px 8px;
}
button:hover {
  background-color: #3071a9;
  border-color: #285e8e;
}

#title {
  background: #fff;
  height: 120px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#title-box {
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.title-logo {
  background-image: url(/images/logo.png);
  background-size: contain;
  border: 0;
  height: 80px;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  top: 20px;
  width: 80px;
}

.title-names {
  color: #111;
  font: 3.25em "penna-connected", Helvetica, Arial, sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 8px;
}

.title-date {
  color: #444;
  font: 1.5em "proxima-nova", Helvetica, Arial, sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75px;
}

#wrapper {
  background: #fff;
  left: 0;
  position: absolute;
  right: 0;
  top: 350px;
}
#wrapper:before {
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  height: 350px;
  left: 0px;
  position: absolute;
  right: 0;
  top: -475px;
  -o-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

#menu {
  margin: 0 auto;
  max-width: 800px;
  overflow: visible;
  padding: 5px;
  text-align: center;
}

#content {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 15px 35px 15px;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px;
  position: relative;
}

.menu-item > a {
  display: block;
  line-height: 1.5em;
}

.menu-dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  display: none;
  left: -3px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 1.65em;
  z-index: 20;
}
.menu-dropdown::before {
  position: absolute;
  top: -9px;
  left: 25px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #CCC;
  border-left: 9px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.menu-dropdown::after {
  position: absolute;
  top: -8px;
  left: 26px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  content: '';
}
.menu-dropdown:hover {
  display: block;
}
a:hover + .menu-dropdown {
  display: block;
}

.menu-dropdown a {
  display: block;
  font-size: 90%;
  padding: 5px 20px 5px 8px;
  white-space: nowrap;
}
.menu-dropdown a:hover {
  background: #f2f2f2;
  text-decoration: none;
}

.quick-links {
  margin-top: 25px;
}

.quick-link {
  border: 1px solid #ddd;
  border-radius: 3px;
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  display: inline-block;
  padding: 10px;
}
.quick-link:first-child {
  margin-right: 20px;
}
.quick-link:last-child {
  margin-left: 20px;
}

.quick-link .photo {
  background: #104476;
  height: 220px;
  width: 220px;
}

@media (max-width: 800px) {

  #wrapper {
    top: 325px;
  }

  #menu {
    max-width: 500px;
  }

  .menu-item {
    margin: 0 9px;
  }
}

@media (max-width: 600px) {

  body {
    font-size: 1em;
  }

  #title {
    height: 88px;
  }

  #menu {
    max-width: 450px;
  }

  #wrapper {
    top: 275px;
  }

  .title-logo {
    height: 60px;
    margin-left: -195px;
    top: 13px;
    width: 60px;
  }

  .title-names {
    font-size: 3em;
    top: 5px;
  }

  .title-date {
    font-size: 1.4em;
    top: 55px;
  }

  .menu-item {
    margin: 0 8px;
  }

  .menu-dropdown {
    top: 1.5em;
  }
}

@media (max-width: 480px) {

  #title {
    height: 72px;
  }

  #menu {
    max-width: 310px;
  }

  #wrapper {
    top: 200px;
  }

  .title-logo {
    height: 48px;
    margin-left: -150px;
    top: 12px;
    width: 48px;
  }

  .title-names {
    font-size: 2.4em;
    top: 3px;
  }

  .title-date {
    font-size: 1.15em;
    top: 45px;
  }

  .menu-item {
    margin: 0 5px;
  }

  .menu-item > a {
    font-size: 1em;
  }

  .menu-item:nth-child(4) .menu-dropdown {
    left: auto;
    right: 0;
  }
  .menu-item:nth-child(4) .menu-dropdown::before {
    left: auto;
    right: 18px;
  }
  .menu-item:nth-child(4) .menu-dropdown::after {
    left: auto;
    right: 19px;
  }
}
