html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font: 1.15em/1.3em "myriad-pro", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
/*  -o-perspective: 1px;
  -moz-perspective: 1px;
  -webkit-perspective: 1px;
  perspective: 1px;
*/}

h2 {
  font: 3.75em "tangerine", Helvetica, Arial, sans-serif;
  margin: 5px 0 -10px 0;
  white-space: nowrap;
}

h3 {
  clear: both;
}

a {
  color: #555;
}
a:hover {
  color: #222;
}

#title {
  background: #fff;
  height: 120px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#title-box {
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.title-logo {
  background-image: url(/images/logo.png);
  background-size: contain;
  border: 0;
  height: 80px;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  top: 20px;
  width: 80px;
}

.title-names {
  color: #111;
  font: 3.25em "penna-connected", Helvetica, Arial, sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 8px;
}

.title-date {
  color: #444;
  font: 1.5em "proxima-nova", Helvetica, Arial, sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75px;
}

#banner {
  background-image: url(/images/banner-capybara.jpg);
  background-position: center;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 360px;
  left: 0;
  position: absolute;
  right: 0;
  top: -120px;
  -o-transform: translateZ(-1px) scale(2);
  -ms-transform: translateZ(-1px) scale(2);
  -moz-transform: translateZ(-1px) scale(2);
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

#wrapper {
  background: #fff;
  left: 0;
  position: absolute;
  right: 0;
  top: 360px;
}

#menu {
  margin: 0 auto;
  max-width: 800px;
  overflow: visible;
  padding: 5px;
  text-align: center;
}

#content {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 15px 50px 15px;
}

.menu-item {
  display: inline-block;
  margin: 0 10px;
  padding: 0 5px;
  position: relative;
}

.menu-item a {
  font: 1.2em/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}
.menu-item > a {
  display: block;
  position: relative;
  text-decoration: none;
}
.menu-item > a:hover {
  text-decoration: underline;
}

.menu-disabled {
  color: #ccc;
  cursor: default;
  font: 1.2em/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
}

.menu-dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  display: none;
  left: -3px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 1.65em;
  z-index: 20;
}
.menu-dropdown::before {
  position: absolute;
  top: -9px;
  left: 25px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ccc;
  border-left: 9px solid transparent;
  content: '';
}
.menu-dropdown::after {
  position: absolute;
  top: -8px;
  left: 26px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  content: '';
}
.menu-dropdown:hover {
  display: block;
}
a:hover + .menu-dropdown {
  display: block;
}

.menu-dropdown a {
  display: block;
  font-size: 90%;
  padding: 5px 20px 5px 8px;
  text-decoration: none;
  white-space: nowrap;
}
.menu-dropdown a:hover {
  background: #f2f2f2;
}

.quick-links {
  white-space: nowrap;
}

.quick-link {
  display: inline-block;
  margin-top: 15px;
  white-space: normal;
  width: 50%;
}

.quick-link a {
  display: block;
  text-decoration: none;
}
.quick-link:first-child a {
  margin-right: 10px;
}
.quick-link:last-child a {
  margin-left: 10px;
}

/* Photo and map styles */

.photo {
  border: 1px solid #ddd;
  border-radius: 3px;
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  padding: 10px;
  position: relative;
}

.photo img {
  width: 100%;
}

.photo-right {
  float: right;
  margin: 0 20px 10px 20px;
  width: 40%;
}

.map {
  border: 0;
  height: 480px;
  width: 100%;
}

/* Form styles (RSVP, Request a Song, etc.) */

label {
  color: #333;
  display: block;
  margin-left: 8px;
}

input {
  display: inline-block;
}

input[type=text] {
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  color: #000;
  font-size: 1.1em;
  padding: 4px 6px;
}
input[type=text]:disabled {
  color: #ccc;
}
input[type=text].missing {
  background: #fee;
  border-color: #f66;
}

input[type=submit] {
  background-color: #2071c1;
  border: 1px solid #1061b1;
  border-radius: 3px;
  -o-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  padding: 6px 8px;
}
input[type=submit]:hover {
  background-color: #0051a1;
  border-color: #004191;
}
input[type=submit]:disabled {
  background-color: #ddd;
  border-color: #aaa;
  color: #f8f8f8;
  cursor: default;
}

.form-line {
  display: block;
  margin-bottom: 15px;
}

.form-field {
  display: inline-block;
  white-space: nowrap;
  width: 250px;
}

.confirmation {
  display: none;
  margin-left: 10px;
  white-space: normal;
}

/* Responsive style overrides for smaller widths and mobile devices */

@media (max-width: 800px) {

  #menu {
    max-width: 500px;
  }

  .menu-item {
    margin: 0 9px;
  }

  .map {
    height: 400px;
  }
}

@media (max-width: 600px) {

  body {
    font-size: 1em;
  }

  h2 {
    font-size: 3.5em;
  }

  #title {
    height: 88px;
  }

  #banner {
    height: 268px;
    top: -130px;
  }

  #menu {
    max-width: 450px;
  }

  #wrapper {
    top: 268px;
  }

  .title-logo {
    height: 60px;
    margin-left: -195px;
    top: 13px;
    width: 60px;
  }

  .title-names {
    font-size: 3em;
    top: 5px;
  }

  .title-date {
    font-size: 1.4em;
    top: 55px;
  }

  .menu-item {
    margin: 0 8px;
  }

  .menu-dropdown {
    top: 1.5em;
  }

  .quick-links {
    white-space: normal;
  }

  .quick-link {
    width: 100%;
  }
  .quick-link:first-child a {
    margin-right: 0;
  }
  .quick-link:last-child a {
    margin-left: 0;
  }

  .map {
    height: 300px;
  }
}

@media (max-width: 480px) {

  h2 {
    font-size: 2.5em;
  }

  #title {
    height: 72px;
  }

  #banner {
    height: 216px;
    top: -72px;
  }

  #menu {
    max-width: 310px;
  }

  #wrapper {
    top: 216px;
  }

  .title-logo {
    height: 44px;
    margin-left: -148px;
    top: 13px;
    width: 44px;
  }

  .title-names {
    font-size: 2.4em;
    top: 3px;
  }

  .title-date {
    font-size: 1.15em;
    top: 45px;
  }

  .menu-item {
    margin: 0 5px;
  }

  .menu-item > a {
    font-size: 1em;
  }

  .menu-disabled {
    font-size: 1em;
  }

  .menu-item:nth-child(4) .menu-dropdown {
    left: auto;
    right: 0;
  }
  .menu-item:nth-child(4) .menu-dropdown::before {
    left: auto;
    right: 18px;
  }
  .menu-item:nth-child(4) .menu-dropdown::after {
    left: auto;
    right: 19px;
  }

  .photo-right {
    float: inherit;
    margin: 0;
    width: auto;
  }

  .map {
    height: 275px;
  }
}
