<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></link>
    <link rel="stylesheet" href="/piday.css" type="text/css"></link>
    <script type="text/javascript" src="//use.typekit.net/wss8ffj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<!--[if IE 6]><body class="ie ie6"><![endif]-->
<!--[if IE 7]><body class="ie ie7"><![endif]-->
<!--[if IE 8]><body class="ie ie8"><![endif]-->
<!--[if IE 9]><body class="ie ie9"><![endif]-->
<!--[if gt IE 9]><body class="ie"><![endif]-->
<!--[if !IE ]><!--><body><!--<![endif]-->

  <div id="title">
    <div id="title-box">
    </div>
  </div>

  <div id="menu">
    <a href="/">Welcome</a>
    <a href="/events">Events</a>
    <a href="/travel">Travel</a>
    <a href="/about">About</a>
    <a href="/photos">Photos</a>
    <a href="/rsvp">RSVP</a>
    <a href="/registry">Registry</a>
    <a href="/faq">FAQ</a>
  </div>

  <div id="content" class="content">
    <div id="content-box">
      {{ content }}
    </div>
  </div>

</body>
</html>
