<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/piday.css" type="text/css">
    <script src="//use.typekit.net/wss8ffj.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      try{Typekit.load();}catch(e){}
      $(function() {
        if ('ontouchstart' in document.documentElement) {
          $('.menu-item:has(.menu-dropdown) > a').click(function() {
            return false;
          });
        }
      });
    </script>
</head>
<!--[if IE 6]><body class="ie ie6"><![endif]-->
<!--[if IE 7]><body class="ie ie7"><![endif]-->
<!--[if IE 8]><body class="ie ie8"><![endif]-->
<!--[if IE 9]><body class="ie ie9"><![endif]-->
<!--[if gt IE 9]><body class="ie"><![endif]-->
<!--[if !IE ]><!--><body><!--<![endif]-->

  <div id="title">
    <div id="title-box">
      <div class="title-logo"></div>
      <div class="title-names">Felicia &amp; David</div>
      <div class="title-date">3 . 14 . 15</div>
    </div>
  </div>

  <div id="wrapper">
    <div id="menu">
      <div class="menu-item">
        <a href="/">Welcome</a>
      </div>
      <div class="menu-item">
        <a href="/events">Events</a>
      </div>
      <div class="menu-item">
        <a href="/travel">Travel</a>
      </div>
      <div class="menu-item">
        <a href="/about">About</a>
        <div class="menu-dropdown">
          <a href="/about">General Info</a>
          <a href="/about/party.html">Wedding Party</a>
        </div>
      </div>
      <div class="menu-item">
       <a href="/photos">Photos</a>
      </div>
      <div class="menu-item">
        <a href="/rsvp">RSVP</a>
        <div class="menu-dropdown">
          <a href="/rsvp">RSVP</a>
          <a href="/rsvp/music.html">Request a Song</a>
        </div>
      </div>
      <div class="menu-item">
        <a href="/registry">Registry</a>
      </div>
      <div class="menu-item">
        <a href="/faq">FAQ</a>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>
  </div>

</body>
</html>
