<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="stylesheet" href="/piday.min.css" type="text/css">
  <script src="//use.typekit.net/wss8ffj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/piday.min.js"></script>
</head>
<!--[if IE 8]><body class="ie ie8"><![endif]-->
<!--[if IE 9]><body class="ie ie9"><![endif]-->
<!--[if gt IE 9]><body class="ie"><![endif]-->
<!--[if !IE ]><!--><body><!--<![endif]-->

  <div id="title">
    <a href="/">
      <div id="title-box">
        <div class="title-logo"></div>
        <div class="title-names">Felicia &amp; David</div>
        <div class="title-date">3 . 14 . 15</div>
      </div>
    </a>
  </div>

  <div id="banner">
    <img src="/images/banner.jpg">
  </div>

  <div id="menu">
    <div class="menu-item">
      <a href="/">Welcome</a>
    </div>
    <div class="menu-item">
      <a href="/events">Events</a>
      <div class="menu-dropdown">
        <a href="/events">Weekend Overview</a>
        <a href="/events/#ceremony">Ceremony</a>
        <a href="/events/#reception">Reception</a>
        <a href="/events/#brunch">Brunch</a>
        <a href="/events/#directions-and-parking">Directions</a>
      </div>
    </div>
    <div class="menu-item">
      <a href="/travel">Travel</a>
      <div class="menu-dropdown">
        <a href="/travel">Lodging</a>
        <a href="/travel/#dining">Dining</a>
        <a href="/travel/#explore-the-upper-valley">Exploring the Area</a>
      </div>
    </div>
    <div class="menu-item">
      <a href="/about">About</a>
      <div class="menu-dropdown">
        <a href="/about">Our Story</a>
        <a href="/about/#wedding-party">Wedding Party</a>
        <a href="/about/contact.html">Contact Us</a>
      </div>
    </div>
    <div class="menu-item">
     <span class="menu-disabled">Photos</span>
    </div>
    <div class="menu-item">
      <a href="/rsvp">RSVP</a>
    </div>
    <div class="menu-item">
      <a href="/registry">Registry</a>
    </div>
    <div class="menu-item">
      <a href="/faq">FAQ</a>
    </div>
  </div>

  <div id="content">
    {{ content }}
  </div>

</body>
</html>
